<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>PRJ321</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>username</param-name>
    <param-value>anh2522003@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>anh2522003</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>anh2522003@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>anh2522003</param-value>
  </context-param>

  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>control.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>control.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5000</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ListController</display-name>
    <servlet-name>ListController</servlet-name>
    <servlet-class>control.product.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListController</servlet-name>
    <url-pattern>/ListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>control.product.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>control.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformationProductController</display-name>
    <servlet-name>InformationProductController</servlet-name>
    <servlet-class>control.InformationProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationProductController</servlet-name>
    <url-pattern>/InformationProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayController</display-name>
    <servlet-name>PayController</servlet-name>
    <servlet-class>control.PayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayController</servlet-name>
    <url-pattern>/Pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController2</display-name>
    <servlet-name>SearchController2</servlet-name>
    <servlet-class>control.SearchController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController2</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>control.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>control.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>CategoriesController</display-name>
    <servlet-name>CategoriesController</servlet-name>
    <servlet-class>control.CategoriesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriesController</servlet-name>
    <url-pattern>/Categories</url-pattern>
  </servlet-mapping>
  
</web-app>